public_html/api/includes/config.php
public_html/uploads/*
!public_html/uploads/.gitkeep
!public_html/uploads/resources/
public_html/uploads/resources/*
!public_html/uploads/resources/.gitkeep
!public_html/uploads/leaders/
public_html/uploads/leaders/*
!public_html/uploads/leaders/.gitkeep
!public_html/uploads/devotionals/
public_html/uploads/devotionals/*
!public_html/uploads/devotionals/.gitkeep
!public_html/uploads/hero/
public_html/uploads/hero/*
!public_html/uploads/hero/.gitkeep
*.log
.DS_Store
